
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main-header {
    background-color: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
}
.main-nav_item {
    display: inline-block;
}
.main-nav {
    display:inline-block
}
.main-header > div {
    display: inline-block;
    text-decoration: dashed
}
/* Con esto hemos puesto tanto el logo, nombre y el nav en la misma linea de cabecera */